@charset "UTF-8";
@-webkit-keyframes waiting {
  0% {
    opacity: 0;
  }
  35%, 75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes waiting {
  0% {
    opacity: 0;
  }
  35%, 75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes joltBG {
  0% {
    opacity: 0.3;
  }
  22%, 26% {
    opacity: 0.2;
  }
  27%, 45% {
    opacity: 0.4;
  }
  46%, 76% {
    opacity: 0.5;
  }
  76%, 78% {
    opacity: 0.05;
  }
  78% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.3;
  }
}
@keyframes joltBG {
  0% {
    opacity: 0.3;
  }
  22%, 26% {
    opacity: 0.2;
  }
  27%, 45% {
    opacity: 0.4;
  }
  46%, 76% {
    opacity: 0.5;
  }
  76%, 78% {
    opacity: 0.05;
  }
  78% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.3;
  }
}

.line-active:after {
  content: ' ■';
  -webkit-animation-name: waiting;
          animation-name: waiting;
  -webkit-animation-duration: 1200ms;
          animation-duration: 1200ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.code-wrapper {
  background: #141e1e;
  color: #dce6e6;
  margin: 0 auto;
  height: calc(100vh - 80px);
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  padding: 1em 1em 1.5em 1em;
  position: relative;
  overflow-y: scroll;
}

.debug-wrapper {
  background: #2f1e26;
  color: #dce6e6;
  margin: 0 auto;
  border-top: white;
  height: 30px;
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  padding: 0.3em;
  position: relative;
  overflow-y: scroll;
}

.line-wrapper{
  vertical-align: middle;
}

.line{
  display: flex;
  height: 100%;
}

.input {
    background: transparent;
    color: white;
    font-size: 19px;
    border: transparent;
}

.input-holder{
background-color: red;
}

html,
body {
    min-height: 100vh;
}
